<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-4">XIMDEX Backend Test</h1>
        <p class="lead">Test carried out by Martín Bernal.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a (click)="test(csv1)" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        <a (click)="getValues('-2231€+12%')" class="btn btn-primary btn-lg" href="#" role="button">Test</a>
    </div>
</div>