<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-4">XIMDEX Backend Test</h1>
        <p class="lead">Test carried out by Martín Bernal.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a (click)="getCategories(json2)" class="btn btn-primary btn-lg" href="#" role="button">Test Categories</a>
        <!-- <a (click)="getValues('-2231€+12€')" class="btn btn-primary btn-lg" href="#" role="button">Test values</a> -->
        <a (click)="getProfit(csv1, json1)" class="btn btn-primary btn-lg ml-2 mr-2" href="#" role="button">Test</a>
        <a (click)="getCostValue('1.643,50€')" class="btn btn-primary btn-lg ml-2 mr-2" href="#" role="button">Test Array</a>
    </div>
</div>